name: Deploy to cPanel via SSH
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - name: Build frontend
        run: |
          npm ci
          npm run build

      - name: Install Dependencies
        run: composer install --prefer-dist --no-interaction --no-suggest --optimize-autoloader

      - name: Directory Permissions
        run: chmod -R 755 storage bootstrap/cache

      - name: Deploy to cPanel
        uses: appleboy/ssh-action@master
        env:
          LARAVEL_ENV: ${{ secrets.ENV_ERO }}
        with:
          host: ${{ secrets.HPANEL_HOST }}
          username: ${{ secrets.HPANEL_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          envs: LARAVEL_ENV
          script: |

            APP_DIR=/home/u1776032/app/ero-landing
            PUBLIC_DIR=/home/u1776032/public_html

            if [ ! -d "$APP_DIR/.git" ]; then
              echo "First deploy, cloning repo..."
              git clone git@github.com:ferdipn/ero-landing.git $APP_DIR
            fi

            cd $APP_DIR
            git pull origin main

            echo "$LARAVEL_ENV" > .env

            composer install --no-dev --prefer-dist --optimize-autoloader --no-scripts

            # Set environment variable and generate application key
            echo "$LARAVEL_ENV" > .env
            php artisan key:generate
            php artisan config:clear
            php artisan migrate --force
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache

            echo "=== Sync public files to public_html ==="
            rsync -av --delete public/ $PUBLIC_DIR/public

            echo "Sync public files to public_html..."
            rsync -av --delete public/ $PUBLIC_DIR

            echo "=== Deploy finished successfully ==="
