name: Deploy to cPanel via SSH
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - name: Build frontend
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

        run: |
          npm ci
          npm run build

      - name: Create Deployment Artifact
        run: tar -czf deploy.tar.gz . --exclude=.git --exclude=node_modules

      - name: Upload Artifact via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          source: "deploy.tar.gz"
          target: "/home/${{ secrets.SSH_USERNAME }}/deploy_temp"

      - name: Deploy to cPanel
        uses: appleboy/ssh-action@master
        # env:
        #   LARAVEL_ENV: ${{ secrets.ENV_ERO }}
        with:
          host: ${{ secrets.HPANEL_HOST }}
          username: ${{ secrets.HPANEL_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          # envs: LARAVEL_ENV
          script: |

            cd /home/${{ secrets.HPANEL_USERNAME }}/app
            tar -xzf /home/${{ secrets.HPANEL_USERNAME }}/deploy_temp/deploy.tar.gz -C .
            rm /home/${{ secrets.HPANEL_USERNAME }}/deploy_temp/deploy.tar.gz

            php artisan migrate --force
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache
            php artisan storage:link

            # if [ ! -d "$APP_DIR/.git" ]; then
            #   echo "First deploy, cloning repo..."
            #   git clone git@github.com:ferdipn/ero-landing.git $APP_DIR
            # fi

            # cd $APP_DIR
            # git pull origin main

            # echo "$LARAVEL_ENV" > .env

            # composer install --no-dev --prefer-dist --optimize-autoloader --no-scripts

            # # Set environment variable and generate application key
            # php artisan key:generate
            # php artisan config:clear
            # php artisan migrate --force
            # php artisan config:cache
            # php artisan route:cache
            # php artisan view:cache
 
            # rsync -av --delete public/ $APP_DIR/public/
            # rsync -av --delete public/build/ $APP_DIR/public/build/

            # rsync -av --delete \
            #   --exclude=index.php \
            #   --exclude=.htaccess \
            #   --exclude=favicon.ico \
            #   --exclude=build/ \
            #   public/ $PUBLIC_DIR/

            # rsync -av --delete public/build/ $PUBLIC_DIR/build/

            # echo "=== Deploy finished successfully ==="
